.stars {
  svg g {
    fill: $color-dark-tint-4;
  }

  &.stars--1 {
    svg:nth-child(1) g {
      fill: $color-gold;
    }
  }

  &.stars--2 {
    svg:nth-child(1) g {
      fill: $color-gold;
    }
    svg:nth-child(2) g {
      fill: $color-gold;
    }
  }

  &.stars--3 {
    svg:nth-child(1) g {
      fill: $color-gold;
    }
    svg:nth-child(2) g {
      fill: $color-gold;
    }
    svg:nth-child(3) g {
      fill: $color-gold;
    }
  }
}
