body {
  font-family:'Houschka W01', sans-serif;
}

.is-correct {
  color: $color-success;
}

.is-incorrect {
  color: $color-danger;
}


h1, .h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-dark-tint-1;
  font-weight: 600;
}

h2, .h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-dark-tint-1;
  font-weight: 500;
}

h3, .h3 {
  font-size: 24px;
  margin: 0;
  color: $color-dark-tint-1;
  font-weight: 500;
}

p, .p {
  font-size: 18px;
  color: $color-dark-tint-2;
  font-weight: 500;
  margin: 0;
}

a, .a {
  text-decoration: none;
  color: $color-brand-primary;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

b {
  color: $color-dark-tint-1;
  font-weight: 600;
}


.dim {
  color: $color-dark-tint-3;
}
