// Colors

$color-dark-tint-1: #727789;
$color-dark-tint-2: #A2A8BC;
$color-dark-tint-3: #C7CBDA;
$color-dark-tint-4: #F0F1F3;

$color-brand-primary: #736AFB;
$color-danger: #EF9696;
$color-success: #88E5B4;
$color-gold: #F8E71C;


