// Top
.m-t-xl {
  margin-top: 80px;
}

.m-t-l {
  margin-top: 50px;
}

// Bottom
.m-b-xl {
  margin-bottom: 80px;
}

.m-b-l {
  margin-bottom: 50px;
}

.m-b-m {
  margin-bottom: 25px;
}

.m-b-s {
  margin-bottom: 10px;
}
